/* fonts */
@font-face {
  font-family: Antique;
  src: url("../assets/Fonts/Antique-Legacy/Antique-Legacy-Regular.woff2");
}
@font-face {
  font-family: Antique-light;
  src: url("../assets/Fonts/Antique-Legacy/Antique-Legacy-Light.woff2");
}
@font-face {
  font-family: Parabole;
  src: url("../assets/Fonts/Parabole-Display/parabole-displayregular.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
/* default theme */
body {
  /* color theme */
  --orange: #ff7a41;
  --green: #00c46d;
  --purple: #a560ff;
  --pink: #f3a0d6;
  --blue: #0064ff;
  --yellow: #ffc852;
  --dark-gray: #333;
  --white: #fff;
  --black: #000;
  /* colors */
  --background: var(--black);
  --primary: var(--white);
  --secondary: var(--yellow);
  --selection: var(--orange);
  --selection-color: var(--dark-gray);

  --custom-hover: var(--white);

  /* fonts */
  --anti-font: Antique;
  --anti-light-font: Antique-light;
  --para-font: Parabole;

  /* theme for b&b + JUST logos */
  --theme-bg: var(--primary);
  --theme-text: var(--black);

  /* size values */
  --text-xxl: 7.5rem;
  --text-xl: 4rem;
  --text-lg: 2rem;
  --text-md: 1.625rem;
  --text-sm: 1.5rem;
  --text-xs: 1.25rem;
  --text-xxs: 1.125rem;
  --text-minimal: 1rem;

  --line-xxl: 90%;
  --line-xl: 112%;
  --line-lg: 128%;
  --line-md: 140%;
  --line-sm: 156%;

  /* transition */
  --global-transition: 0.3s linear;
  /* styling */
  background: var(--background);
  color: var(--primary);
  max-width: 1440px;
  margin: 2.5rem auto;
  @media (max-width: 768px) {
    margin-bottom: 0;
  }
  @media (min-width: 1024px) {
    margin: 3.75rem auto;
  }
  font-family: var(--anti-font), Georgia;
  transition: background var(--global-transition);
}

/* dark theme */
body[data-theme="light"] {
  --background: var(--white);
  --primary: var(--dark-gray);
  --secondary: var(--orange);
  --selection: var(--yellow);
  --selection-color: var(--white);

  --theme-bg: var(--black);
  --theme-text: var(--white);
}

/* typography */
/* h1 */
.xxl {
  font-weight: 400;
  text-transform: uppercase;
  font-size: clamp(var(--text-xl), 5vw + 2rem, var(--text-xxl));
  line-height: var(--line-xxl);
}
/* quote */
.xl {
  font-family: var(--anti-light-font), sans-serif;
  font-size: clamp(var(--text-lg), 8vw, var(--text-xl));
  line-height: clamp(var(--line-lg), 4vw, var(--line-xl));
}
/* h1 subtext */
.lg {
  font-family: var(--anti-light-font), sans-serif;
  font-size: clamp(var(--text-md), 3vw, var(--text-lg));
  line-height: var(--line-lg);
}

/* h2, sm text heading */
.md {
  font-size: clamp(var(--text-sm), 2vw + 1rem, var(--text-md));
  line-height: var(--line-lg);
  font-weight: 400;
  @media (min-width: 1024px) {
    font-family: var(--anti-light-font), sans-serif;
  }
}
/* sm text */
.sm {
  font-family: var(--anti-light-font), sans-serif;
  font-size: clamp(var(--text-xxs), 2vw, var(--text-xs));
}

/* theme text sizes */
.minimal {
  font-size: var(--text-minimal);
}

a,
button,
input[type="submit"] {
  color: var(--secondary);
  text-decoration: underline;
  transition-delay: 0.25s;
  &:hover {
    transition: 0s;
    &:not(footer a) {
      color: var(--primary);
    }
  }
}

span,
.secondary-color {
  color: var(--secondary);
  transition: color var(--global-transition);
}

.primary-color {
  color: var(--primary);
}

::selection {
  background-color: var(--selection);
  color: var(--selection-color);
}
