* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* max rotation for the b&b logo */
  --rotation: 360deg;
}
body > .container {
  width: 100%;
  overflow: hidden;
  margin-top: 3.5rem;
  padding: 0;
  display: grid;
  place-items: center;
  > svg {
    /* lessens the grabbable invisible space ever so slightly */
    border-radius: 50%;
    overflow: hidden;
    cursor: grab;
    margin: 0 auto;
    width: 100%;
    max-width: 39.75rem;
    aspect-ratio: 1;
    padding: 0 32px;
    path {
      /* target the circle and the weird overlay circle */
      &:nth-child(-n + 2) {
        fill: var(--theme-bg);
      }
      /* target all the letters */
      &:nth-child(n + 3) {
        fill: var(--theme-text);
      }
    }
    transform: rotate(0deg);
    animation: spin-it 20s linear infinite;
    &:active {
      cursor: grabbing;
    }
  }
}

@keyframes spin-it {
  to {
    transform: rotate(var(--rotation));
  }
}

h1 {
  span {
    font-weight: 400;
    font-family: var(--para-font);
    color: var(--secondary);
    word-wrap: break-word;
    hyphens: auto;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  svg {
    height: 100%;
    max-height: 27px;
    path {
      fill: var(--theme-bg);
      &:nth-child(3) {
        /* random color here */
        fill: var(--secondary);
      }
    }
  }
}

main {
  margin-top: 6.625rem;
  div {
    margin-top: 1rem;
    & + div, + article {
      margin-top: 2.25rem;
    }
  }
  > * + * {
    margin-top: 3.75rem;
    @media (min-width: 768px) {
        margin-top: 5rem;
    }
    @media (min-width: 1024px) {
        margin-top: 7.5rem;
    }
  }
}

/* simulating a <br/> tag */
p + p {
  margin-top: 1rem;
}

select {
  border-radius: 30px;
}

article h2 + p {
    margin-top: 21px;
}

.quote-container {
  display: flex;
  flex-direction: column;
  blockquote {
    display: flex;
    flex-direction: column;
    p {
    }
    span {
      font-size: clamp(94px, 8vw, 7.5rem);
      width: fit-content;
    }
  }
  > p {
    line-height: var(--line-sm);
    font-size: var(--text-xs);
    font-family: var(--anti-light-font);
  }
}

@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1024px) {
}
